body {

  --slack-color: #3f0f40;
  overflow: hidden;

}

* {
  margin: 0;
}


.app__body {
  display:flex;
  height: 100vh;
}


.chat {
  flex: .7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;

}

.chat__headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {

  margin-right: 5px !important;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat__channelName {
  text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 14px;
}